# Temporary Python files
*.pyc
*.egg-info
__pycache__
.ipynb_checkpoints

# Temporary OS files
Icon*

# Temporary virtual environment files
.cache/
.venv/

# Temporary server files
.env
*.pid

# Testing and coverage results
.coverage
.coverage.*
coverage.*
htmlcov/

# Build and release directories
build/
dist/
*.spec

# Sublime Text
*.sublime-workspace

# Eclipse
.settings

# Pycharm/IDEA
.idea/

# OSX
*.DS_Store

# vscode
.vscode/

#pyenv
.python-version

# pytest
.pytest_cache/

# tox
.tox
coverage/

# poetry
pip-wheel-metadata/
setup.py

# django
db.sqlite3
testapp/settings/dev.py

# mypy
.mypy_cache/

# Pants workspace files
/.pants.d/
/dist/
/.pids
/.pants.workdir.file_lock*
*.pex

# SSH keys/etc.
ssh/*
