---
services:

  db:
    image: postgres
    environment:
      POSTGRES_DB: ol_django
      POSTGRES_PASSWORD: postgres
    ports:
    - "5432:5432"

  shell:
    build:
      target: uv
    volumes:
    - .:/home/dev/src
    - cache:/home/dev/.cache/
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
    depends_on:
    - db

  release:
    build:
      target: release
    volumes:
    - cache:/home/dev/.cache/
    - ~/.ssh:/home/dev/.ssh:ro
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
    depends_on:
    - db

volumes:
  cache:
