[run]
branch = True
source = .
data_file=/tmp/coverage
omit =
    *_test.py
    *_tests.py
    conftest.py
    manage.py
    testapp/wsgi.py

[report]
exclude_lines =
    pragma: no cover
show_missing = True
precision = 2

[html]
directory = coverage/

[xml]
output = coverage/coverage.xml
