---
name: Renovate
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'
permissions:
  pull-requests: write
  contents: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Apt install
      run: sudo apt-get update && sudo apt-get install -y libxmlsec1-dev

    - name: Install uv
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@a7e89c349a53ab0c9d8458eb85f4b415e55848e7 # v44.2.3
      with:
        configurationFile: renovate-config.json
        token: ${{ secrets.GITHUB_TOKEN }}
