---
name: Renovate
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'
permissions:
  pull-requests: write
  contents: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Apt install
      run: sudo apt-get update && sudo apt-get install -y libxmlsec1-dev

    - name: Install uv
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
      with:
        configurationFile: renovate-config.json
        token: ${{ secrets.GITHUB_TOKEN }}
