---
name: Renovate
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'
permissions:
  pull-requests: write
  contents: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Apt install
      run: sudo apt-get update && sudo apt-get install -y libxmlsec1-dev

    - name: Install uv
      uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
      with:
        configurationFile: renovate-config.json
        token: ${{ secrets.GITHUB_TOKEN }}
